.bg_mask {
	display:none;
}
.header {
	top:0px !important;
}
.article_abs {
	position:relative;
	top:auto;
	height:auto;
	visibility:visible;
}
.article_intro {
	height:auto;
	padding:200px 0;
	background:url(../img/loop/bg1.jpg) no-repeat center center;
}
.article_bg2 {
	background:url(../img/loop/bg2.jpg) no-repeat center center;
}
.article_intro_inner {
	position:relative;
}
.new_item {
	visibility:visible;
}
.footer_spacer {
	display:none;
}
.footer {
	position:relative;
	display:block;
}
.project_item {
	margin-bottom:5px !important;
}
.service_item {
	height:150px;
	padding-top:50px;
	margin-bottom:2px !important;
}