ErrorDocument 400 http://PhilKuo.com
ErrorDocument 403 http://PhilKuo.com
ErrorDocument 404 http://PhilKuo.com
ErrorDocument 502 http://PhilKuo.com
ErrorDocument 503 http://PhilKuo.com
ErrorDocument 504 http://PhilKuo.com

RewriteEngine on

RewriteOptions inherit

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
# Replace html with your file extension, eg: php, htm, asp

RewriteCond %{HTTP_HOST} ^www\.philkuo\.com [NC]
RewriteRule (.*) http://philkuo.com/$1 [R=301,L]
# Redirect www urls to non-www

RewriteCond %{HTTP_HOST} ^philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.philkuo\.com$
RewriteRule ^TED$ "https\:\/\/youtu\.be\/0qZo7\-nx2Ik" [R=301,L]

RewriteCond %{HTTP_HOST} ^philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.philkuo\.com$
RewriteRule ^ted$ "https\:\/\/youtu\.be\/0qZo7\-nx2Ik" [R=301,L]

RewriteCond %{HTTP_HOST} ^philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.philkuo\.com$
RewriteRule ^TEDx$ "https\:\/\/youtu\.be\/0qZo7\-nx2Ik" [R=301,L]

RewriteCond %{HTTP_HOST} ^philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.philkuo\.com$
RewriteRule ^tedx$ "https\:\/\/youtu\.be\/0qZo7\-nx2Ik" [R=301,L]

RewriteCond %{HTTP_HOST} ^philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.philkuo\.com$
RewriteRule ^114RecapVideo$ "https\:\/\/vimeo\.com\/PhilKuo\/114" [R=301,L]

RewriteCond %{HTTP_HOST} ^philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.philkuo\.com$
RewriteRule ^admin$ "https\:\/\/alto\.websitewelcome\.com\:2087\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^pkgamma\.philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pkgamma\.philkuo\.com$
RewriteRule ^/?$ "https\:\/\/pkgamma\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^pktw\.philkuo\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pktw\.philkuo\.com$
RewriteRule ^/?$ "https\:\/\/pkgamma\.com\/" [R=301,L]

