---
layout: layouts/page.njk
permalink: /contact.html
page_title: Contact
---
<div id="fb-root"></div>
<div class="container">
<div class="header">
    <div class="h_header">
        <header>
            <div class="logo">
                <div class="logo_inner"><a href="http://PhilKuo.com/"><img src="assets/web/img/pix.gif" alt="Philip Kuo" border="0" width="80" height="32" /></a></div>
            </div>
            <div class="open_nav_mobile"></div>
            <div class="navigation" id="nav">
                <nav>
                    <ul>
                        <li class="nav_first" id="5"><a class="nav_first" href="about">About</a></li>
                        <li id="3"><a href="portfolio">Portfolio</a></li>
                        <li id="6"><a href="experiences">Experiences</a></li>
                        <li class="active" id="7"><a class="active" href="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="social social_top">
                <ul>
                    <li><a href="ch/contact" target="_blank" class="no-ajaxy vine"><span>&nbsp;</span></a></li>
                    <li><a href="https://www.linkedin.com/in/pkgamma/" target="_blank" class="no-ajaxy linkedin"><span>&nbsp;</span></a></li>
                    <li><a href="https://www.facebook.com/pkgamma" target="_blank" class="no-ajaxy facebook"><span>&nbsp;</span></a></li>
                </ul>
            </div>
        </header>
    </div>
</div>
<div class="mobile_nav">
    <div class="mobile_nav_inner" id="nav_mobile">
        <nav>
            <ul>
                <li class="nav_first" id="5"><a class="nav_first" href="about">About</a></li>
                <li id="3"><a href="portfolio">Portfolio</a></li>
                <li id="6"><a href="experiences">Experiences</a></li>
                <li class="active" id="7"><a class="active" href="contact">Contact</a></li>
                <li id="9"><a href="ch/contact">Chinese Translation 中文版</a></li>
            </ul>
        </nav>
    </div>
</div>
<section id="content">
    <div class="content_inner">
        <div class="filter_projects layer_fixed"></div>
        <div class="content_spacer" style="height: 0px"></div>
        <div class="article article_regular article_white article_white_main">
            <article>
            <div class="content_block_headerimg" style="background:url(assets/web/img/header/contact.jpg) no-repeat 50% 50%;">
                <div class="row">
                    <div class="h_header">
                        <header>
                            <h1 class="white">Let’s Trade Stories!</h1>
                        </header>
                    </div>
                </div>
            </div>
            <div class="article article_regular article_white article_white_no_border article_white_main">
                <article>
                    <div class="content_block">
                        <div class="row">
                            <div class="h_header">
                                <header>
                                    <h3>Say Hello</h3>
                                    <p>Have a great new idea in mind or want to digitally transform your business? Let’s go on an adventure together! I am always interested in working on new projects or startups. Shoot me a message and we'll get the conversation going! Email is always preferred.</p>
                                </header>
                            </div>
                        </div>
                        <div class="row">
                            <div class="headquater_wr">
                                <div class="headquater_left">
                                    <div class="colblock_v4_info_ovl">
                                        <div class="colblock_v4_info_ovl_link"><a class="no-ajax" href="mailto:pkgamma@gmail.com?Subject=What's%20up!" target="_blank"><img src="assets/web/img/pix.gif" alt="Business Card" width="100%" height="100%" /></a></div>
                                        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                                            <tr>
                                                <td>
                                                    <div class="icon_svg icon_map">&nbsp;</div>
                                                    <div class="colblock_v4_info_ovl_title">Email me</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <img src="assets/web/img/card-left.jpg" alt="Business Card" />
                                </div>
                                <div class="headquater_right">
                                    <div class="hq_content">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="hq_td1">&nbsp;</td>
                                                <td class="hq_td2">
                                                    <div class="hq_txt1"><span>Philip Kuo </span>/ Designer</div>
                                                    <div class="hq_txt2">
                                                        <p>
                                                            Chicago, IL
                                                            <br/>
                                                            <span class="icon_svg icon_mail">&nbsp;</span><a href="mailto:pkgamma@gmail.com?Subject=What's%20up!" class="no-ajaxy mailcrypt">pkgamma<span><span>∂</span></span>gmail.com</a><br />
                                                            <span class="icon_svg icon_mobile">&nbsp;</span>
                                                            +1 347 766 4206
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="hq_td3">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <img src="assets/web/img/card-right.jpg" alt="Business Card" style="padding-bottom: 10px;" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row_office_small">
                                <div class="fourcol_v3 last office_hq">
                                    <div class="colblock_v4">
                                        <h3>Philip Kuo</h3>
                                        <div class="colblock_v4_map">
                                            <div class="colblock_v4_info_ovl">
                                                <div class="colblock_v4_info_ovl_link"><a class="no-ajax" href="mailto:pkgamma@gmail.com?Subject=What's%20up!" target="_blank"><img src="assets/web/img/pix.gif" alt="Business Card" width="100%" height="100%" /></a></div>
                                                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                                                    <tr>
                                                        <td>
                                                            <div class="icon_svg icon_map">&nbsp;</div>
                                                            <div class="colblock_v4_info_ovl_title">Email me</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <img src="assets/web/img/card-small.jpg" alt="Business Card" />
                                        </div>
                                        <div class="info">
                                            <div class="info_addr">
                                                Designer<br />
                                                Chicago, IL
                                            </div>
                                            <div class="f_mail"><span class="icon_svg icon_mail_dark">&nbsp;</span><a href="mailto:pkgamma@gmail.com?Subject=What's%20up!" class="no-ajaxy mailcrypt">pkgamma<span><span>∂</span></span>gmail.com</a></div>
                                            <div class="f_tel"><span class="icon_svg icon_mobile_dark">&nbsp;</span>+1 347 766 4206</div>
                                        </div>
                                    </div>
                                </div>
                                <!--DELETED CODE COPIED TO NOTE ##1-->
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <!-- HUGE SOCIAL BOX - ONE SINGLE BOX STARTS -->
            <div class="article article_regular article_white article_last">
                <style type="text/css">
                    .btn_prod1 {
                    color:#7d3f98;
                    background:#ffffff;
                    }
                    .btn_prod1:hover {
                    color:#ffffff;
                    background:#7d3f98;
                    }
                </style>
                <div class="content_block_np project_detail_footer" style="color:#FFFFFF; background:#000000 url(assets/public/contact/bg-email.jpg) no-repeat center top;">
                    <div class="row" style="margin-bottom:-17px;">
                        <div class="project_detail_logo">
                            <img src="assets/public/contact/logo-email.png" alt="Facebook" />
                        </div>
                        <div class="h2">
                            <span>Email</span>
                        </div>
                        <p>Email is always preferred.</p>
                        <!--iv class="h2">Follow me on Facebooks</div>-->
                        <div>
                            <a class="btn_prod1 btn_elastic" target="_blank" href="mailto:pkgamma@gmail.com?Subject=What's%20up!">Send an Email</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HUGE SOCIAL BOX - ONE SINGLE BOX ENDS -->
            <!-- HUGE SOCIAL BOX - ONE SINGLE BOX STARTS -->
            <div class="article article_regular article_white article_last">
                <style type="text/css">
                    .btn_prod5 {
                    color:#0077b5;
                    background:#ffffff;
                    }
                    .btn_prod5:hover {
                    color:#ffffff;
                    background:#0077b5;
                    }
                </style>
                <div class="content_block_np project_detail_footer" style="color:#FFFFFF; background:#000000 url(assets/public/contact/bg-li.jpg) no-repeat center top;">
                    <div class="row" style="margin-bottom:-17px;">
                        <div class="project_detail_logo">
                            <img src="assets/public/contact/logo-li.png" alt="Facebook" />
                        </div>
                        <div class="h2">
                            <span>LinkedIn</span>
                        </div>
                        <p>View my LinkedIn profile.</p>
                        <!--iv class="h2">Follow me on Facebooks</div>-->
                        <div>
                            <a class="btn_prod5 btn_elastic" target="_blank" href="https://www.linkedin.com/in/philkuo">View LinkedIn Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HUGE SOCIAL BOX - ONE SINGLE BOX ENDS -->
            <!-- HUGE SOCIAL BOX - ONE SINGLE BOX STARTS -->
            <div class="article article_regular article_white article_last">
                <style type="text/css">
                    .btn_prod2 {
                    color:#3b5998;
                    background:#ffffff;
                    }
                    .btn_prod2:hover {
                    color:#ffffff;
                    background:#3b5998;
                    }
                </style>
                <div class="content_block_np project_detail_footer" style="color:#FFFFFF; background:#000000 url(assets/public/contact/bg-fb.jpg) no-repeat center top;">
                    <div class="row" style="margin-bottom:-17px;">
                        <div class="project_detail_logo">
                            <img src="assets/public/contact/logo-fb.png" alt="Facebook" />
                        </div>
                        <div class="h2">
                            <span>Facebook</span>
                        </div>
                        <p>Shoot me a message on Facebook messenger.</p>
                        <!--iv class="h2">Follow me on Facebooks</div>-->
                        <div>
                            <a class="btn_prod2 btn_elastic" target="_blank" href="https://www.facebook.com/pkgamma">Visit Facebook Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HUGE SOCIAL BOX - ONE SINGLE BOX ENDS -->
            <div class="article article_regular article_white article_white_main">
                <article>
                    <div class="content_block">
                        <div class="row">
                            <div class="h_header">
                                <header>
                                    <h3>Let’s Chat</h3>
                                    <p>If you’re ready to kick off a project or would like to talk about an idea in mind, contact me. To work with me will be extremely easy:</p>
                                </header>
                            </div>
                            <div class="wanted_list_block_wrapper">
                                <div class="wanted_list_block">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                                        <tr>
                                            <td>
                                                <img src="assets/web/img/howto1.jpg" alt="Connect with Facebook" />
                                                <div class="wanted_list_txt">Write me a Message</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="wanted_list_block_spacer"><span class="icon_svg icon_32 icon_arrow_right_grey">&nbsp;</span></div>
                                <div class="wanted_list_block">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                                        <tr>
                                            <td>
                                                <img src="assets/web/img/howto2.jpg" alt="See if you’re on the list" />
                                                <div class="wanted_list_txt">Arrange Time to Talk</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="wanted_list_block_spacer"><span class="icon_svg icon_32 icon_arrow_right_grey">&nbsp;</span></div>
                                <div class="wanted_list_block">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                                        <tr>
                                            <td>
                                                <img src="assets/web/img/howto3.jpg" alt="Talk to us" />
                                                <div class="wanted_list_txt">Get Things Started</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <script type="text/javascript">
                function initPage(){
                	showfixedfooter = 1;
                }
            </script>
        </div>
        <div class="footer_spacer"></div>
</section>
</div>