---
layout: layouts/page.njk
permalink: /index.html
page_title: Designer and Entrepreneur
---
<style type="text/css">
.header {
	top:-60px;
}
</style>


<div id="fb-root"></div>
<div class="container">
	<div class="header">
	<div class="h_header">
		<header>
			<div class="logo"><div class="logo_inner"><a href="http://PhilKuo.com/"><img src="assets/web/img/pix.gif" alt="Philip Kuo" border="0" width="80" height="32" /></a></div></div>
			<div class="open_nav_mobile"></div>
			<div class="navigation" id="nav">
				<nav>
					<ul>
	<li class="nav_first" id="5"><a class="nav_first" href="about">About</a>
</li>
	<li id="3"><a href="portfolio">Portfolio</a>
</li>
	<li id="6"><a href="experiences">Experiences</a>
</li>
	<li id="7"><a href="contact">Contact</a>
</li>
	
</ul>

				</nav>
			</div>
			<div class="social social_top">
				<ul>
					<li><a href="ch" target="_blank" class="no-ajaxy vine"><span>&nbsp;</span></a></li>
					<li><a href="https://www.linkedin.com/in/pkgamma/" target="_blank" class="no-ajaxy linkedin"><span>&nbsp;</span></a></li>
					<li><a href="https://www.facebook.com/pkgamma" target="_blank" class="no-ajaxy facebook"><span>&nbsp;</span></a></li>
					
				</ul>
			</div>
		</header>
	</div>
</div>
<div class="mobile_nav">
	<div class="mobile_nav_inner" id="nav_mobile">
		<nav>
			<ul>
	<li class="nav_first" id="5"><a class="nav_first" href="about">About</a>
</li>
	<li id="3"><a href="portfolio">Portfolio</a>
</li>
	<li id="6"><a href="experiences">Experiences</a>
</li>
	<li id="7"><a href="contact">Contact</a>
</li>
	<li id="9"><a href="ch/">Chinese Translation 中文版</a>
</li>
	
</ul>

		</nav>
	</div>
</div>
	<section id="content">
		<div class="content_inner">
			<div class="filter_projects layer_fixed"></div>
			<div class="content_spacer content_spacer_start"></div>
			<div class="article article_intro article_bg1" data-bg="1">
				<div class="article_intro_inner">
					<article>
						<h1><span>I craft stunning digital experiences</span><br />for human folks to enjoy.</h1>
						<a href="about.html" class="no-ajaxy btn btn_310 btn_slideto">See How I Roll</a></br></br>


						<div class="mobileShowiPad">
							<a href="ch" class="no-ajaxy btn btn_310" style="
							font-family: "SF Pro Display","source-han-sans-traditional","SourceHanSansTC-Light","STHeitiTC-Light","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif"; 
							font-weight: 200;
							">中文版</a>
						</div>
						
					</article>
				</div>
			</div>

<!--ARTICLE DEVIDER-->

			<div id="article1" class="article article_regular article_white article_abs">
				<article>
					<div class="content_block">
						<div class="row">
							<div class="h_header">
								<header>
									
									<h3>About</h3>
									<span style="text-align: left;"><p><span style="margin-left: 2.5em;">Hello.</span> My name is Philip Kuo. I am a technology entrepreneur and freelance designer who specialises in web based projects. I am currently pursuing a computer science degree at University of Illinois at Urbana Champaign. In the last two years, I have co-founded successful e-commerce startups, organized and managed large-scale events, and driven over 150K website pageviews. I participated in prestigious conferences internationally, and was invited to speak at TEDx events to share my stories. Today, I create and carry out things that delight at PKGamma Digital Agency, working closely together with my clients to create solutions that perform well and deliver results. I love the fact that digital technology can change lives, it makes the world better connected.</p></span>
								</header>
							
						<div class="row_btn" style='padding-top: 5px; margin-bottom: -0.938em;'><a href="about" class="btn_dark btn_elastic">Read More About Me</a></div>
					</div>
				</article>
			</div>

<!--ARTICLE DEVIDER-->

			<div id="article2" class="article article_regular article_grey article_abs">
				<article>
					<div class="content_block">
						<div class="row">
							<div class="h_header">
								<header>
									
									<h3>Portfolio</h3>
									<p>“Less is more.” - Mies. I am a true minimalist, I believe that great designs are often simpler designs. My obsession is crafting stunning, intuitive user experiences that ensure audiences reach their goals with ease.</p>
								</header>
						
							</div>




									<div class="fourcol project_item new_item">
										<div class="colblock_v1">
											<a class="abs_link" href="http://munual.org/"><img src="assets/web/img/pix.gif" alt="The Munual" /></a>
											<div class="prod_item_ovl">
												<div class="prod_item_info">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
														<tr>
															<td>
																<div class="prod_logo_overview"><img src="assets/public/work/logo/mun.png" alt="The Munual" /></div>
																<h3>The Munual</h3>
																<h4>A nonprofit dedicated to assist students<br>and help bridge resource gap.</h4>
															</td>
														</tr>
													</table>
												</div>
												<div class="prod_item_link">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
														<tr>
															<td>
																<div>View Project</div>
															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="prod_item_img_ov">
												<img class="p_ov_img" src="assets/public/work/mun.jpg" alt="The Munual" />
												<img src="assets/web/img/pix.gif" alt="The Munual" />
											</div>
										</div>
									</div>




								<div class="fourcol project_item new_item">
										<div class="colblock_v1">
											<a class="abs_link" href="http://www.pkgamma.com/"><img src="assets/web/img/pix.gif" alt="PKGamma Digital Agency" /></a>
											<div class="prod_item_ovl">
												<div class="prod_item_info">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
														<tr>
															<td>
																<div class="prod_logo_overview"><img src="assets/public/work/logo/pkgamma.png" alt="PKGamma Digital Agency" /></div>
																<h3>PKGamma Digital Agency</h3>
																<h4>PKGamma generates terrific value<br>for businesses through creative design. </h4>
															</td>
														</tr>
													</table>
												</div>
												<div class="prod_item_link">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
														<tr>
															<td>
																<div>Visit Website</div>
															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="prod_item_img_ov">
												<img class="p_ov_img" src="assets/public/work/pkgamma.jpg" alt="PKGamma Digital Agency" />
												<img src="assets/web/img/pix.gif" alt="PKGamma Digital Agency" />
											</div>
										</div>
									</div>



									<div class="fourcol project_item new_item last">
										<div class="colblock_v1">
											<a class="abs_link" href="http://thg.archive.pkgamma.com/"><img src="assets/web/img/pix.gif" alt="The Hoverboard Guys" /></a>
											<div class="prod_item_ovl">
												<div class="prod_item_info">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
														<tr>
															<td>
																<div class="prod_logo_overview"><img src="assets/public/work/logo/thg.png" alt="The Hoverboard Guys" /></div>
																<h3>The Hoverboard Guys</h3>
																<h4>A California-based company<br>dedicated to selling quality hoverboards.</h4>
															</td>
														</tr>
													</table>
												</div>
												<div class="prod_item_link">
													<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
														<tr>
															<td>
																<div>View Project</div>
															</td>
														</tr>
													</table>
												</div>
											</div>
											<div class="prod_item_img_ov">
												<img class="p_ov_img" src="assets/public/work/thg.jpg" alt="The Hoverboard Guys" />
												<img src="assets/web/img/pix.gif" alt="The Hoverboard Guys" />
											</div>
										</div>
									</div>




									<div class="clear"></div>														<div class="clear"></div>
						</div>
						<div class="row_btn" style='padding-top: 38px;'><a href="portfolio" class="btn_dark btn_elastic">View All My Work</a></div>
					</div>
				</article>
			</div>

<!--ARTICLE DEVIDER See Me from Other Perspectives-->


			<div id="article2" class="article article_regular article_white article_abs">
				<article>
					<div class="content_block">
						<div class="row" style="margin-bottom: 15px;">
							<div class="h_header">
								<header>
									
									<h3>Me On The Web</h3>
									<p>My work and stories have been published in acclaimed local and international press such as Initium Media HK, Storm Media, PC ADV Magazine, Family Lifestyle Magazine, Radio Taiwan International, TEDx and Za Share Expo.</p>
								</header>
							</div>
						</div>

<!-- ICON SOLUTION basically copied from below CONTACT ROW -->
						<div class="row" style="margin-bottom: -10px;">
							<div class="package_row2">



								<div class="fourcol_v2 package_col">
									<div class="package_img2"><a href="http://bit.ly/PhilipInitiumCover" style="border:0;"><img src="assets/public/press/Initium.png" alt="The Initium Media 端傳媒" /></a></div>
								</div>
								<div class="fourcol_v2 package_col">
									<div class="package_img2"><a href="http://bit.ly/PhilipTEDxCover" style="border:0;"><img src="assets/public/press/TEDx.png" alt="TEDx Talk" /></a></div>
									
								</div>
								<div class="fourcol_v2 package_col last">
									<div class="package_img2"><a href="http://bit.ly/PhilipStormCover" style="border:0;"><img src="assets/public/press/Storm.png" alt="Storm Media 風傳媒" /></a></div>
								</div>



							</div>					
						</div>
					</div>
				</article>
			</div>

<!--ARTICLE DEVIDER See Me from Other Perspectives-->

			<div id="article3" class="article article_regular article_transparent article_abs article_bg2" data-bg="2">
				<article>
						<div class="row">
							<div class="h_header" style='padding-top: 40px;'>
								<header>
									<h3 style="text-shadow: 0 0 20px rgba(0,0,0,0.5);">“Creativity is intelligence having fun.”</h3>
									<p style="text-shadow: 0 0 20px rgba(0,0,0,0.5);">- Albert Einstein</p>
									<!-- AHH A PRETTY DAMN GOOD SHADOW FROM GOOGLE: 0 1px 3px rgba(0,0,0,0.4),0 0 30px rgba(0,0,0,0.075) -->
								</header>
							</div>
						</div>
				</article>
			</div>

<!--ARTICLE DEVIDER-->


			<div id="article2" class="article article_regular article_grey article_abs article_last">
				<article>
					<div class="content_block">
						<div class="row">
							<div class="h_header">
								<header>
									
									<h3>Let’s Trade Stories</h3>
									<p>Let’s go on an adventure together! I am always interested in working on new projects or startups. Shoot me a message and we'll get the conversation going! Email is always preferred.</p>
								</header>
							</div>
						</div>

<!-- ICON SOLUTION 2.0 FROM ABOVE CODES -->
						<div class="row" style="margin-bottom: -25px;">
							<div class="package_row">
								<div class="fourcol_v2 package_col">
									<div class="package_img"><a href="https://www.linkedin.com/in/pkgamma/" style="border:0;"><img src="assets/public/contact/LinkedIn.png" alt="LinkedIn" /></a></div>
									<div class="package_txt"><p>LinkedIn</p></div>
								</div>								
								<div class="fourcol_v2 package_col">
									<div class="package_img"><a href="mailto:pkgamma@gmail.com?Subject=What's%20up!" style="border:0;"><img src="assets/public/contact/Email.png" alt="Email" /></a></div>
									<div class="package_txt"><p>Email</p></div>
								</div>
								<div class="fourcol_v2 package_col last">
									<div class="package_img"><a href="https://www.facebook.com/pkgamma" style="border:0;"><img src="assets/public/contact/Facebook.png" alt="Facebook" /></a></div>
									<div class="package_txt"><p>Facebook</p></div>
								</div>
							</div>					
						</div>
					</div>
				</article>
			</div>

<!--ARTICLE DEVIDER-->

			<div class="bg_item bg1"></div>
			<div class="bg_item bg2"></div>
			<div class="bg_mask"></div>
			<div class="footer_spacer"></div>

<!--ARTICLE DEVIDER-->


			<script type="text/javascript">
				function initPage(num){
					showfixedfooter = 0;
					
					// intro
					if (num != 1){
						intro();
					}
					
					// shot new items
					showNewItems();
					
					// resize functions
					$(window).resize(function(){
						// homesize
						if (resizeintro == true){
							homeSize();
						}
					});
					
					// close filter
					$('.filter_close').on({
						click:function(){
							$('.backstretch:first').css({
								marginTop:'0px'
							});
						}
					});
					
					// slide button
											var buttonSlideTo = $('#article1').position().top-60;
						$('.btn_slideto').on({
							click:function(){
								$('html,body').animate({
									scrollTop:buttonSlideTo+'px'
								}, 1700, 'easeInOutExpo', function(){
									//
								});
								return false;
							}
						});
									}
			</script>
		</div>
	</section>
</div>