td{font-size:12pt;}
a{color:#0000D2}
a:hover{color:##0000D2}
body {font-size:12pt;}

.GREEN_HEAD {
background-color: #FFFFFF;
color:#000000;
font-weight: bolder;
text-align: center;
width: 5em;
}

.GREEN_LINE1 {
background-color: #FFFFFF;
color:#000000;
font-family: "²Ó©úÅé", Helvetica, sans-serif;
padding: 5px, 5px, 5px, 5px;
width: 46em;
}

.HIT {
color:red;
font-weight:bolder;
}

.NOTE {
font-family: "Arial", Helvetica, sans-serif;
color:green;
font-size:11px;
}