@import "./typography.scss";

/* LIGHT MODE */
/* ================= */
.light-mode {
  transition: background-color 0.5s ease;

  --color-bg: #fff;
  --color-bg-navbar: rgba(255, 255, 255, 0.9);
  --pic-opacity: 1;

  --color-text-1: rgb(17, 24, 39);
  --color-text-2: rgb(55, 65, 81);
  --color-text-3: rgb(156, 163, 175);

  --color-link:rgb(0, 168, 255);

  --color-btn-bg: #fbfbfb;
  --color-btn-hover-bg: #ECECEC;
  --color-btn-text: var(--color-text-1);
  --box-shadow-btn-border: inset 0 0 0 1px rgba(40, 43, 48, 0.065);

  --color-btn-resume: #790394;
  --color-btn-resume-bg: #fcefff;
  --color-btn-email: #db4437;
  --color-btn-email-bg: #fff2f5;
  --color-btn-linkedin: #0d65c2;
  --color-btn-linkedin-bg: #edf7fd;
  --color-btn-github: #292b30;
  --color-btn-github-bg: #f4f4f4;
  --color-btn-medium: #1b8817;
  --color-btn-medium-bg: #f0f7f0;
}

/* DARK MODE */
/* ================= */
.dark-mode {

  // img {
  //   filter: brightness(.8) contrast(1.1);
  // }
  
  transition: background-color 0.5s ease;

  --color-bg: #191b1f;
  --color-bg-navbar: #191b1f;
  --pic-opacity: 0.8;

  --color-text-1: var(--color-gray97);
  --color-text-2: var(--color-gray70);
  --color-text-3: var(--color-gray37);

  --color-link: hsl(206, 100%, 47%);

  --color-btn-bg: hsla(0, 0%, 100%, 0.03);
  --color-btn-hover-bg: var(--color-btn-bg);
  --color-btn-text: var(--color-text-1);
  --box-shadow-btn-border: inset 0 0 0 1px hsla(0, 0%, 100%, 0.1);

  --color-btn-resume: #790394;
  --color-btn-resume-bg: var(--color-btn-bg);
  --color-btn-email: #db4437;
  --color-btn-email-bg: var(--color-btn-bg);
  --color-btn-linkedin: #0d65c2;
  --color-btn-linkedin-bg: var(--color-btn-bg);
  --color-btn-github: #ffffff;
  --color-btn-github-bg: var(--color-btn-bg);
  --color-btn-medium: #1b8817;
  --color-btn-medium-bg: var(--color-btn-bg);
}

/* Global Variables */
/* ================= */
:root {
  --main-container-max-width: 860px;

  --color-gray02: hsl(0, 0%, 2%);
  --color-gray04: hsl(0, 0%, 4%);
  --color-gray06: hsl(0, 0%, 6%);
  --color-gray08: hsl(0, 0%, 8%);
  --color-gray10: hsl(0, 0%, 10%);
  --color-gray14: hsl(0, 0%, 14%);
  --color-gray19: hsl(0, 0%, 19%);
  --color-gray24: hsl(0, 0%, 24%);
  --color-gray37: hsl(0, 0%, 37%);
  --color-gray54: hsl(0, 0%, 54%);
  --color-gray70: hsl(0, 0%, 70%);
  --color-gray83: hsl(0, 0%, 83%);
  --color-gray92: hsl(0, 0%, 92%);
  --color-gray95: hsl(0, 0%, 95%);
  --color-gray97: hsl(0, 0%, 97%);
  --color-gray98: hsl(0, 0%, 98%);
  --color-gray99: hsl(0, 0%, 99%);
}

@media (min-width: 1280px) {
  :root {
    --main-container-max-width: 1000px;
  }
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 30px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    row-gap: 36px;
  }
}

article {
  display: grid;
  grid-template-columns: repeat(18, 1fr);

  * {
    grid-column: 4 / span 12;
  }

  img {
    grid-column: 1 / span 18;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 36px 0px;
    // box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);

    &:first-child {
      margin-top: 0 !important;
    }
  }

  h2 + p {
    margin-block-start: 0em !important;
  }

  blockquote {
    grid-column: 5 / span 10;
    margin: 0;
    font-style: italic;
  }

  @media (max-width: 920px) {
    * {
      grid-column: 2 / span 16;
    }

    img {
      width: 100vw;
      margin-left: calc(-7vw);
      border-radius: 0px;
    }

    blockquote {
      grid-column: 3 / span 14;
    }
  }
}
