@import "./typography.scss";

:root {
  
}

.light-mode {
  transition: background-color 0.5s ease;

  --color-bg: #fff;
  --color-bg-navbar: rgba(255, 255, 255, 0.8);

  --color-text-1: #000;
  --color-text-2: #666;
  --color-text-3: #999;

  --color-link: #06D;
  --color-btn-bg: #fbfbfb;
  --box-shadow-btn-border:  rgba(40, 43, 48, 0.067) 0px 0px 0px 1px inset;
}

.dark-mode {
  transition: background-color 0.5s ease;

  --color-bg: #191B1F;
  --color-bg-navbar: #191B1F;

  --color-text-1: #fff;
  --color-text-2: #fff;
  --color-text-3: #fff;

  --color-link: #06D;
  --color-btn-bg: hsla(0,0%,100%,.03);
  --box-shadow-btn-border: inset 0 0 0 1px hsla(0,0%,100%,.1);
}