@font-face {
  font-family: GT Walsheim;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/GT-Walsheim-Thin-subset.woff2) format("woff2"),
    url(../fonts/GT-Walsheim-Thin-subset.woff) format("woff");
}

@font-face {
  font-family: GT Walsheim;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/GT-Walsheim-Light-subset.woff2) format("woff2"),
    url(../fonts/GT-Walsheim-Light-subset.woff) format("woff");
}

@font-face {
  font-family: GT Walsheim;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/GT-Walsheim-Regular-subset.woff2) format("woff2"),
    url(../fonts/GT-Walsheim-Regular-subset.woff) format("woff");
}

@font-face {
  font-family: GT Walsheim;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/GT-Walsheim-Medium-subset.woff2) format("woff2"),
    url(../fonts/GT-Walsheim-Medium-subset.woff) format("woff");
}

@font-face {
  font-family: GT Walsheim;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/GT-Walsheim-Bold-subset.woff2) format("woff2"),
    url(../fonts/GT-Walsheim-Bold-subset.woff) format("woff");
}

@font-face {
  font-family: GT Walsheim;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/GT-Walsheim-Black-subset.woff2) format("woff2"),
    url(../fonts/GT-Walsheim-Black-subset.woff) format("woff");
}
