h1 {
  font-family: "GT Walsheim", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  // font-family: GTWalsheimPro-Bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: -1px;
  margin-top: 36px;
  margin-bottom: 36px;
}

p {
  font-family: "GT Walsheim", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  // font-family: GTWalsheimPro-Regular;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
}

.container {
  margin-top: 60px;

  .pic {
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 1px solid rgba(40, 43, 48, 0.07);
    }
  }
}

.social_section {
  margin-top: 44px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &:hover {
      li {
        &:not(:hover) {
          a {
            color: #999999;
            background: #ffffff;
          }
        }
      }
    }
  }

  li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-top: 16px;

    &:nth-child(1) {
      a {
        &:hover {
          color: #790394;
          background: #fcefff;
        }
      }
    }

    &:nth-child(2) {
      a {
        &:hover {
          color: #db4437;
          background: #fff2f5;
        }
      }
    }

    &:nth-child(3) {
      a {
        &:hover {
          color: #0d65c2;
          background: #edf7fd;
        }
      }
    }

    &:nth-child(4) {
      a {
        &:hover {
          color: #292b30;
          background: #f4f4f4;
        }
      }
    }

    &:nth-child(5) {
      a {
        &:hover {
          color: #1b8817;
          background: #f0f7f0;
        }
      }
    }

    a {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid rgba(40, 43, 48, 0.07);
      box-shadow: rgba(40, 43, 48, 0.067) 0px 0px 0px 1px inset;
      box-sizing: border-box;
      background: #fbfbfb;
      border-radius: 6px;
      padding-left: 16px;
      padding-right: 16px;
      font-family: GTWalsheimPro-Regular;
      font-size: 18px;
      color: #282b30;
      letter-spacing: 0;
      text-decoration: none;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out;

      .icon {
        font-size: 16px;
        margin-right: 7px;
        margin-bottom: 2px;
      }

      &:hover {
        box-shadow: inset 0 0 0 1px rgba(40, 43, 48, 0.065);
      }
    }
  }
}
