h1 {
  font-family: GTWalsheimPro-Bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: -1px;
  margin-top: 36px;
  margin-bottom: 36px;
}

p {
  font-family: GTWalsheimPro-Regular;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
}

.container {
  margin-top: 60px;

  .pic {
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 1px solid rgba(40, 43, 48, 0.07);
    }
  }
}

.social_section {
  margin-top: 44px;

  .btn {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 16px;
    margin-top: 16px;

    a {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid rgba(40, 43, 48, 0.07);
      background: #F7F7F7;
      border-radius: 6px;
      padding-left: 16px;
      padding-right: 16px;
      font-family: GTWalsheimPro-Regular;
      font-size: 18px;
      color: #000000;
      letter-spacing: 0;
      text-decoration: none;
      transition: all 0.15s linear;

      .icon {
        font-size: 16px;
        margin-right: 7px;
        margin-bottom: 2px;
      }

      &:hover {
        color: #999999;
      }
    }
  }
}
