@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;700;900&display=swap');

body {
  font-family: "GT Walsheim", "Noto Sans TC", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
  font-family: "GT Walsheim", "Noto Serif TC", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
}

h2 {
  font-family: "GT Walsheim", "Noto Serif TC", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h3 {
  font-family: "GT Walsheim", "Noto Serif TC", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}