body {
  font-family: "GT Walsheim", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text-1);
  letter-spacing: -1px;
  line-height: 40px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-text-1);
  letter-spacing: -0.88px;
  line-height: 30px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  color: var(--color-text-2);
  letter-spacing: -0.69px;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text-1);
  letter-spacing: 0;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }
}

li {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text-2);
  letter-spacing: 0;
  line-height: 30px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.page_container {
  position: relative;
  min-height: 100vh;

  .main {
    max-width: var(--main-container-max-width);
    margin: 0 auto !important;
    float: none !important;
    padding-bottom: 100px;

    @media (max-width: 920px) {
      width: 86%;
    }
  }
}

.zh {
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;700;900&display=swap");

  * {
    font-family: "GT Walsheim", "Noto Sans TC", -apple-system, system-ui,
      BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
  }

  h1, h1 > * {
    font-family: "GT Walsheim", "Noto Serif TC", -apple-system, system-ui,
      BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    letter-spacing: normal;
  }

  h2, h2 > * {
    font-family: "GT Walsheim", "Noto Serif TC", -apple-system, system-ui,
      BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
  }

  h3, h3 > * {
    font-family: "GT Walsheim", "Noto Serif TC", -apple-system, system-ui,
      BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
  }
}
