@import "../styles/typography.scss";

body {
  font-family: "GT Walsheim", -apple-system, system-ui, BlinkMacSystemFont,
    "SF Pro Text", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.page_container {
  position: relative;
  min-height: 100vh;

  .main {
    max-width: 820px;
    margin: 0 auto !important;
    float: none !important;
    padding-bottom: 120px;

    @media (max-width: 860px) {
      width: 80%;
    }
  }
}
