.sticky_navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--color-bg-navbar);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  // box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
  // box-sizing: border-box;

  .navbar {
    height: 72px;
    max-width: 820px;
    margin: 0 auto !important;
    float: none !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 860px) {
      width: 80%;
    }

    .left {
      float: left;

      ul {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;

        .name {
          font-weight: 800;
          color: var(--color-text-1);
          white-space: nowrap;
        }

        &:hover {
          li {
            &:not(:hover) {
              a {
                color: var(--color-text-3);
              }
            }
          }
        }
      }

      li {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.56px;
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
        margin-right: 20px;
        float: left;
        list-style: none;

        .current {
          color: var(--color-text-1);
        }

        a {
          text-decoration: none;
          transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
          color: var(--color-text-3);

          &:hover {
            color: var(--color-text-1);
          }
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .right {
      float: right;

      ul {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;

        &:hover {
          li {
            &:not(:hover) {
              a {
                color: var(--color-text-3);
              }
            }
          }
        }
      }

      li {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.56px;
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
        float: left;
        margin-left: 20px;
        list-style: none;

        .current {
          color: var(--color-text-1);

          @media (max-width: 400px) {
            visibility: hidden;
          }
        }

        a {
          text-decoration: none;
          transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
          color: var(--color-text-3);

          &:hover {
            color: var(--color-text-1);
          }
        }
      }
    }
  }
}
