<!DOCTYPE html>
<html lang="{{ language }}">

<head>

  <title>{{ title }}</title>

  <link rel="alternate" hreflang="en" href="https://PhilKuo.com">
  <link rel="alternate" hreflang="zh" href="https://PhilKuo.com/ch">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="{{ description }}" />
  <meta name="keywords"
    content="Philip Kuo, 郭力銘, Software Engineering, Product Design, Product Management, UX Design, UI, UX, Human Computer Interaction" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="img/share_{{ language }}.jpg" />

  <link rel="icon" type="image/png" href="img/favicon@4x.png" sizes="64x64" />
  <link rel="icon" type="image/png" href="img/favicon@3x.png" sizes="48x48" />
  <link rel="icon" type="image/png" href="img/favicon@2x.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="img/favicon@1x.png" sizes="16x16" />

  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/main.css" type="text/css" />

  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63814084-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-63814084-1');
  </script>

</head>

<body>
  <div class="container">
    <div class="row">

      <div class="portrait col-sm-3">
        <img alt="Philip Kuo" src="img/philip_kuo.jpg" />
      </div>

      <div class="col-sm-9 content">

        {{ content | safe }}

        <div class="social">
          <ul>
            <li>
              <a target="_blank" href="https://linkedin.com/in/pkgamma/"><i class="fab fa-linkedin"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://facebook.com/pkgamma"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://instagram.com/pkgamma/"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/pkgamma"><i class="fab fa-github"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://medium.com/@pkgamma"><i class="fab fa-medium"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://philkuo.com/spotify"><i class="fab fa-spotify"></i></a>
            </li>
            <li>
              <a target="_blank" href="http://youtube.com/pkgamma"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>

        <footer>
          Copyright &copy; 2020 Philip Kuo. View the <a href="http://archive.philkuo.com">Project Archive</a>.
        </footer>

      </div>

    </div>
  </div>
</body>

</html>