<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie6 " lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html lang="fr" class="no-js ie9" lang="en"> <![endif]-->

  <head>

    <title>Philip Kuo | {{page_title}}</title>

    <link rel="alternate" hreflang="en" href="http://PhilKuo.com">
    <link rel="alternate" hreflang="zh" href="ch/">

    <link rel="icon" href="assets/web/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="assets/web/img/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" href="assets/web/img/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/web/img/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/web/img/apple-touch-icon-iphone-retina-display.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/web/img/apple-touch-icon-ipad-retina-display.png" />

    <link href="assets/web/css/styles.css" type="text/css" rel="stylesheet" media="screen" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Designer and entrepreneur based in Taipei, Taiwan." />
    <meta name="keywords" content="Philip Kuo, Philip, Phil Kuo, Phil, 郭力銘, 力銘, graphic design, graphic designer, design, modern, luxury, designing, pkgamma, designer, fashion, minimal, minimalist, clean, web design, web development, strategy, motion design, user experience, social media, community management, social strategy, digital innovation, innovation, Taipei, Taiwan, TaipeiTaiwan, Asia, 永安國小, 大直國中, 南湖高中, homeschool, TEDx, TED, TED speaker, Tedx Youth" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:title" content="Philip Kuo | {{page_title}}" />
    <meta property="og:description" content="Designer and entrepreneur based in Taipei, Taiwan." />
    <meta property="og:url" content="index.html" />
    <meta property="og:image" content="assets/web/img/share.jpg" />
    <meta property="og:type" content="website" /> 

    <noscript><link href="assets/web/css/styles-noscript.css" type="text/css" rel="stylesheet" media="screen" /></noscript>
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/web/css/ie.css" type="text/css" media="screen" /><![endif]-->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63814084-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

  <body>

{{ content | safe }}


    <!-- Facebook Chat -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '1678638095724206',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v2.11'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Facebook Chat -->
    <div class="fb-customerchat"
    page_id="187246008075413"
    minimized="true">
    </div>

  </body>

</html>